.inputbox {
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
}
.label {
  font-size: 21px;
  font-weight: bold;
  color: purple;
}
.inputerror {
  background-color: rgb(220, 141, 141);
  border: 2px solid rgb(77, 5, 5);
  border-radius: 5px;
  font-size: 20px;
}
.inputvalid {
  background-color: rgb(226, 152, 226);
  border: 2px solid purple;
  border-radius: 5px;
  font-size: 20px;
}
.header {
  display: inline-flex;
  padding-left: 10px;
  color: black;
}
.title {
  text-align: center;
  padding-left: 520px;
}
.background {
  background-color: purple;
}
.errortext {
  color: #b40e0e;
}

.invalid {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
  border-radius: 5px;
  font-size: 20px;
}

.invalid :focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.space {
  display: flex;
  align-items: center;
  margin-left: 175px;
  margin-right: 175px;
  justify-content: space-around;
}
