.inputbox {
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
}
.label {
  font-size: 21px;
  font-weight: bold;
  color: purple;
}
.inputvalid {
  background-color: rgb(226, 152, 226);
  border: 2px solid purple;
  border-radius: 5px;
  font-size: 20px;
}
.invalid {
  border: 2px solid #b40e0e;
  background-color: #fddddd;
  border-radius: 5px;
  font-size: 20px;
}

.invalid :focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
.errortext {
  color: #b40e0e;
}
